@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .job-hero {
    background: url('/hero-bg.png') center center / cover no-repeat
      theme('colors.secondary.DEFAULT');
  }

  html.dark .job-hero {
    background: url('/hero-bg.png') center center / cover no-repeat
      theme('colors.secondary.dark');
  }
}

html {
  font-family: 'Roboto', sans-serif;
}
